@CHARSET "ISO-8859-1";
body{
	background-image:url("../img/table1.jpg");
}

caption{
	background-color:red;
	color:white;
	font-size:32px;
}

.button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color:white;
}

th, td {
    text-align: left;
    padding: 8px;
}

a:hover {
    background-color: red;
}

tr:nth-child(even){background-color: #c0c0c0}

th {
    background-color: #4CAF50;
    color: white;
}
